.berita-section {
  padding: 30px 0;
  max-width: 1200px;   /* batasi lebar */
  margin: 0 auto;
}

.berita-section h2 {
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: 800;
  color: #053b6e; /* judul pakai biru gelap */
}

.berita-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.berita-card {
  background: #ffffff; /* putih */
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid #e6e6e6;
}

.berita-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.berita-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.tanggal {
  background: #f7c21b; /* kuning emas */
  color: #053b6e;      /* teks tanggal biru gelap */
  font-size: 14px;
  padding: 6px 0;
  margin-top: -4px;
  font-weight: 700;
}

.berita-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 18px 15px 8px;
  color: #053b6e; /* judul berita biru gelap */
}

.berita-card p {
  font-size: 15px;
  margin: 0 20px 15px;
  color: #4c4c4c;
  line-height: 1.5;
  min-height: 65px;
}

.btn-selengkapnya {
  padding: 9px 18px;
  border-radius: 3px;
  background: #053b6e; /* biru gelap */
  color: #ffffff;      /* putih */
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

.btn-selengkapnya:hover {
  background: #032f6f; /* biru lebih gelap saat hover */
}

.accordion {
  width: 90%;
  margin: 20px auto;
  border-radius: 6px;
  font-family: Arial, sans-serif;
}

.accordion-header,
.sub-header {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  background: #d5e6ff;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.accordion-header:hover,
.sub-header:hover {
  background: #bdd6ff;
}

.accordion-content,
.sub-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
  background: #fff;
  padding-left: 20px;
  border-left: 2px solid #053b6e;
}

.sub-item {
  border-bottom: 1px solid #eee;
}

.dokumen-link {
  display: block;
  padding: 12px;
  background: #f7f9ff;
  border-radius: 5px;
  margin: 8px 0;
  text-decoration: none;
  color: #053b6e;
  font-size: 15px;
  transition: .3s;
}

.dokumen-link:hover {
  background: #eaf1ff;
  text-decoration: underline;
}

.icon {
  transition: transform .3s;
}

.active .icon {
  transform: rotate(-180deg);
}

